---
import { Image } from '@astrojs/image/components'
import { slugify } from '../helpers/slugify'

import Card from '@components/Card.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
import PostHogLayout from '@layouts/PostHogLayout.astro'
import MainSection from '@components/atoms/MainSection.astro'
import SpanText from '@components/atoms/SpanText.astro'
import Button from '@components/atoms/Button.astro'

import devSvg from '../../public/Developer activity-amico.svg'
import contactSvg from '../../public/Online world-pana.svg'
import cv from '../../public/Matteo_Barbero_-_Web_Developer.pdf'

const articles = await Astro.glob('../content/Blog/*.md*')
const sortedArt = articles.sort(
	(a, b) =>
		new Date(b.frontmatter.date).getTime() -
		new Date(a.frontmatter.date).getTime()
)
---

<PostHogLayout>
	<BaseLayout
		title='Matteo Maio Barbero - PHP and JavaScript Developer'
		description='I am a full-stack web developer with a passion for PHP and JavaScript. I have experience and optimization of e-commerce solutions based on Magento.'
		keywords='fullstack developer, magento developer, php developer, magento developer torino, magento italia, magento torino, php developer italia, php developer torino, magentod eveloper groningen, magento groningen'
		image={devSvg}
	>
		<!-- Hero -->

		<MainSection>
			<div class='flex items-center'>
				<div class='w-full'>
					<h2 class='mb-4 text-2xl lg:text-4xl'>
						Hello <SpanText text={true}>folks!</SpanText>
					</h2>
					<h1 class='text-5xl lg:text-7xl font-black' id='main-title'>
						I'm Matteo "Maio" Barbero
					</h1>
					<h2 class='mt-6 text-2xl lg:text-4xl'>
						I'm a<SpanText text={true}>Web</SpanText> Developer that loves both frontend
						and backend
					</h2>
					<a
						href='#about'
						class='flex items-center justify-center mt-20'
						aria-label='Scroll to About section'
					>
						<svg
							xmlns='http://www.w3.org/2000/svg'
							fill='none'
							viewBox='0 0 24 24'
							stroke-width='1'
							stroke='currentColor'
							class='w-16 h-16 aos-init aos-animate'
							data-aos='zoom-out'
						>
							<path
								stroke-linecap='round'
								stroke-linejoin='round'
								d='M9 12.75l3 3m0 0l3-3m-3 3v-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z'
							></path>
						</svg>
					</a>
				</div>
			</div>
		</MainSection>

		<!-- About -->
		<MainSection>
			<div
				class='flex flex-col lg:flex-row gap-4 justify-between items-center'
				id='about'
			>
				<div class='w-full lg:w-2/3'>
					<a href='/about' class='m-0 text-7xl font-extrabold'>
						About <SpanText text={true}>Me</SpanText>
					</a>
					<p class='my-8 text-lg'>
						I'm a full-stack web developer with a passion for PHP and
						JavaScript. I have extensive experience in building websites and
						implementing e-commerce solutions such as Magento. WordPress holds a
						special place in my heart and I enjoy creating individual solutions
						with this CMS. I consider myself a proponent of clean programming
						and am always looking for new ways to improve my technical skills. I
						am passionate about what I do and strive to provide innovative
						solutions.
					</p>

					<div class='inline-flex flex-col gap-2 lg:items-center'>
						<div class='inline-flex flex-col lg:flex-row gap-2'>
							<a href='/#contact'>
								<Button>Contact</Button>
							</a>
							<a href={cv} target='_blank'>
								<Button primary={false}>Download my CV</Button>
							</a>
						</div>
					</div>
				</div>
				<div
					class='w-full lg:w-1/3 flex justify-center md:justify-end aos-init aos-animate'
					data-aos='fade-left'
				>
					<Image
						src={devSvg}
						alt='About me illustration'
						aspectRatio='1:1'
						width={900}
					/>
				</div>
			</div>
		</MainSection>
		<!-- Articles -->
		<MainSection>
			<div class='flex flex-col justify-center items-center px-3 mt-8 w-full'>
				<a href='/articles' class='text-7xl font-extrabold outline-text mb-8'>
					Articles</a
				>
				<div
					class=`max-w-7xl w-full grid md:grid-cols-2 lg:grid-cols-${(sortedArt.length <=4) ? sortedArt.length : '4'} gap-4`
				>
					{
						sortedArt.map((art, index) => {
							if (index < 4) {
								return (
									<Card
										delay={100 * index}
										title={art.frontmatter.title}
										description={art.frontmatter.description}
										imagePath={art.frontmatter.imagePath}
										date={new Date(art.frontmatter.date).toLocaleDateString(
											'en-us',
											{
												dateStyle: 'long',
											}
										)}
										link={`articles/${slugify(art.frontmatter.title)}`}
									/>
								)
							}
						})
					}
				</div>
			</div>
		</MainSection>
		<MainSection>
			<div class='flex flex-wrap' id='contact'>
				<div class='mb-12 w-full shrink-0 grow-0 basis-auto lg:mb-0 lg:w-5/12'>
					<div class='flex lg:py-12 aos-init aos-animate' data-aos='fade-right'>
						<Image
							src={contactSvg}
							alt='Contact illustration'
							class='w-full rounded-lg shadow-3xl lg:ml-[50px] z-[10]'
							width={800}
							aspectRatio='16:9'
							fit='cover'
						/>
					</div>
				</div>
				<div class='w-full shrink-0 grow-0 basis-auto lg:w-7/12'>
					<div
						class='flex h-full items-center rounded-lg bg-primary p-6 text-center lg:pl-12 lg:text-left'
					>
						<div class='lg:pl-12'>
							<h2 class='mb-6 text-5xl font-bold'>
								Are you interested in my works?
							</h2>
							<p class='mb-6 pb-2 lg:pb-0 text-lg'>
								I'm always happy to talk about my projects and meet people with
								whom to share the same interests.
							</p>
							<a href='mailto:maiowebdesign@gmail.com'>
								<Button>Contact Me</Button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</MainSection>
	</BaseLayout>
</PostHogLayout>
