---
import jsonLDGenerator from '../assets/js/jsonLDT'
import siteImage from '../../public/Developer activity-amico.svg'
const {
	title,
	description,
	keywords,
	author,
	image,
	date,
	url = Astro.url,
	robots,
	type,
} = Astro.props

const jsonLD = jsonLDGenerator({
	type,
	title,
	description,
	date,
	url,
})
---

<meta name='description' content={description} />
<meta name='keywords' content={keywords} />

<meta name='author' content={author} />
<link rel='canonical' href={url} />

<!-- Open Graph -->
<meta property='og:site_name' content='maiobarbero.dev' />
<meta property='og:title' content={title} />
<meta property='og:description' content={description} />
<meta property='og:url' content={url} />
<meta property='og:image' content={image?.src || siteImage.src} />
<meta property='og:image:url' content={image?.src || siteImage.src} />
<meta property='og:image:secure_url' content={image?.src || siteImage.src} />
<meta property='og:image:type' content='image/jpeg' />
<meta property='og:image:width' content='1200' />
<meta property='og:image:height' content='600' />
<meta property='og:image:alt' content={image?.alt || 'maiobarbero.dev'} />

<!-- Twitter -->
<meta name='twitter:title' content={title} />
<meta name='twitter:description' content={description} />
<meta name='twitter:card' content='summary_large_image' />
<meta name='twitter:image' content={image?.src || siteImage} />
<meta name='twitter:image:alt' content={title} />

{robots && <meta name='robots' content='noindex, nofollow' />}

<!-- JSON LD -->
<Fragment set:html={jsonLD} />

<title>{title}</title>
